/* Component Mobile */

@font-face {
    font-family: 'Outfit-VariableFont_wght';
    src: url('font\Outfit-VariableFont_wght.ttf') format('ttf');
}

    body {
        margin: 0;
    }

    main {
        background-color: hsl(212, 45%, 89%);
        font-family: 'Outfit-VariableFont_wght', sans-serif;
        text-align: center;   
        padding-bottom: 64px;     
    }

    .card-container {         
        display: inline-block;
        border-radius: 20px;  
        margin: 80px;     
        box-shadow: 0px 4px 24px rgba(31, 50, 81, 0.15); 
        background-color: white;
        padding: 16px;
    }


    .qr-image img {
        height: 288.28px;
        border-radius: 12px;
    }

    .qr-copy {
        justify-self: center;
    }

    .qr-copy h1{
        font-size: 22px;
        color: hsl(218, 44%, 22%);
        font-weight: 700;
        max-width: 280px;
        padding: auto;
        margin: auto;
        padding-top: 26px;
    }

    .qr-copy p{
        font-size: 15px;        
        font-weight: 400;
        max-width: 280px;
        color: hsl(220, 15%, 55%);
        line-height: 20px;
    }



.attribution {
    font-size: 11px; text-align: center; 
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}
